<h1>Projects</h1>

<%= link_to 'Create New Project', new_project_path %>

<ul>
  <% @projects.each do |project| %>
    <li>
      <strong>Title: </strong><%= project.title %><br>
      <strong>Description: </strong><%= project.description %><br>
      <%= link_to 'Details', project_path(project) %>
      <%= link_to 'Edit', edit_project_path(project) %>
    </li>
    <br>
  <% end %>
</ul>