<h1>Manage Projects</h1>

<%= link_to 'Create New Project', new_project_path %>

<% if @projects %>
  <div class="projects-list">
    <% @projects.each do |project| %>
      <div class="project-card">
        <div class="project-card-header">
          <%= link_to project.title, project_path(project), class: 'project-card-title' %>
          <div class="project-card-status">
            <span class="project-card-status-text"><%= project.status_name %></span>
            <div class="project-card-status-bar">
              <div class="project-card-status-fill"
                   <%= raw "style='width: #{(project.status + 1) * 25}%'" %>></div>
            </div>
          </div>
        </div>
        <div class="project-card-info">
          <div class="project-card-info-section">
            <span class="card-info-section-title">Requested By</span>
            <div>
              <span class="card-info-label">Organization</span> <%= project.organization %>
            </div>
            <div>
              <span class="card-info-label">Email</span> <%= project.user.email %> 
            </div>
            
          </div>
        </div>
        <%= link_to 'Edit', edit_project_path(project) %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>
    You don't have any projects yet.
  </p>
<% end %>