<%= form_with(scope: :project,
              local: true,
              url: projects_path,
              class: 'request-form') do |form| %>

  <% if @project.errors.any? %>
    <div id="error-explanation">
      <h2>
        Fix these <%= pluralize(@project.errors.count, 'error') %>:
      </h2>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-section">
    <header>
      <h2>Contact Info</h2>
    </header>

    <div class="form-split-group">
      <div class="form-set">
        <%= form.label :organization %>
        <%= form.text_field :organization %>
      </div>
      <div class="form-set">
        <%= form.label :contact_name %>
        <%= form.text_field :contact_name %>
      </div>
    </div>

    <div class="form-split-group">
      <div class="form-set">
        <%= form.label :contact_email %>
        <%= form.text_field :contact_email %>
      </div>

      <div class="form-set">
        <%= form.label :contact_phone %>
        <%= form.text_field :contact_phone %>
      </div>
    </div>
  </div>

  <div class="form-section">
    <input type="checkbox" id="event-checkbox"> This is for an event

    <div id="event-info">
      <header>
        <h2>Event Info</h2>
      </header>
      <div class="form-set">
        <%= form.label :title %><br>
        <%= form.text_field :title %>
      </div>
      <div class="form-split-group">
        <div class="form-set">
          <%= form.label :location %>
          <%= form.text_field :location %>
        </div>
        <div class="form-set">
          <%= form.label :when, 'Event Date' %>
          <%= form.text_field :when %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-section">
    <header>
      <h2>Design</h2>
    </header>

    <div class="form-set">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="form-set">
      <%= form.label 'Attach files' %>
    </div>
  </div>

  <div class="form-section">
    <%= form.submit 'Submit', class: 'form-submit' %>
  </div>
  
<% end %>

<form class="dropzone" action="/project/<%= @project.id %>/files/upload"></form>

<%= link_to 'Back', projects_path %>

<script>
  var eventSection = document.getElementById('event-info');
  var checkbox = document.getElementById('event-checkbox');

  eventSection.classList.add('hidden');

  checkbox.addEventListener('click', function() {
    if (this.checked) {
      eventSection.classList.remove('hidden');
    } else {
      eventSection.classList.add('hidden');
    }
  });
</script>