<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <meta name="viewport" content="min-width=1,width=device-width">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/navigation' %>

    <main>
      <ul class="messages-list">
        <% flash.each do |name, message| %>
          <li class="message message--<%= name %>">
            <span class="message-text"><%= message %></span>
            <a href="#" class="message-close">&times;</a>
          </li>
        <% end %>
      </ul>

      <%= yield %>
    </main>
  </body>
</html>
