<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/navigation' %>

    <%= yield %>

    <% flash.each do |name, message| %>
      <%= content_tag :div, message, class: 'alert alert-info' %>
    <% end %>
  </body>
</html>
